<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MvcCoreProyectoSejo</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MvcCoreProyectoSejo.styles.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    @await RenderSectionAsync("Estilos", required: false)

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-black-opacity fixed-top">
            <div class="container-fluid">
                <!-- Logo y enlace a la página de inicio -->
                <a class="navbar-brand" asp-area="" asp-controller="Eventos" asp-action="Index">
                    <img src="~/img/logo.png" style="width:10rem;" alt="Logo">
                </a>

                <!-- Botón del menú para dispositivos móviles -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Elementos del menú de navegación -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto">
                        <partial name="_MenuUsuarios" />
                    </ul>
                </div>
            </div>
        </nav>
    </header>


    <div class="container content-wrapper">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>

    </div>
    @await RenderSectionAsync("Modal", required: false)

    <footer class="border-top footer text-muted" style="background-color: white; z-index: 10">
        <div class="container">
            <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4">
                <div class="col-md-4 d-flex align-items-center">
                    <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                        <img style="width: 200px" src="~/img/logo-black.png" />
                    </a>
                    @* <span class="mb-3 mb-md-0 text-muted">© 2024 ExitZ, Inc</span> *@
                </div>

                <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                    <li class="ms-3"><a class="text-muted" href="#"><img style="width: 35px" src="~/img/instagram.png" /></a></li>
                    <li class="ms-3"><a class="text-muted" href="#"><img style="width: 35px" src="~/img/gorjeo.png" /></a></li>
                    <li class="ms-3"><a class="text-muted" href="#"><img style="width: 35px" src="~/img/tik-tok.png" /></a></li>

                </ul>
            </footer>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>