<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center text-black" style="background: #35FF57">
                    <h3>Registro de Usuario</h3>
                </div>
                <div class="card-body">
                    @if (!string.IsNullOrEmpty(ViewData["Mensaje"] as string))
                    {
                        <div class="alert alert-danger" role="alert">
                            @ViewData["Mensaje"]
                        </div>
                    }

                    <form asp-action="Registro" method="post">
                        <div class="mb-3">
                            <label for="nombre" class="form-label">Nombre</label>
                            <input type="text" class="form-control" id="nombre" name="Nombre" required>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Correo Electrónico</label>
                            <input type="email" class="form-control" id="email" name="Correo" required>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Contraseña</label>
                            <input type="password" class="form-control" id="password" name="Password" required>
                        </div>
                        <div class="mb-3">
                            <label for="confirmPassword" class="form-label">Confirmar Contraseña</label>
                            <input type="password" class="form-control" id="confirmPassword" name="ConfirmPassword" required>
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-exitz">Registrarse</button>
                        </div>
                    </form>
                </div>
                <div class="card-footer text-muted text-center">
                    ¿Ya tienes una cuenta? <a href="@Url.Action("Login", "Usuarios")" class="link">Inicia sesión</a>
                </div>
            </div>
        </div>
    </div>
</div>
